p.caption {
  color: #776;
  margin-top: 9px;
}
h1, h2, h3, h4 {
 color: #881333;}
 
 
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p code {
  white-space: inherit;
}


/* Estilo para el logo */
.ine-logo {
  max-width: 40px; /* Ajusta el tamaño del logo aquí */
  margin-left: 10px;
}

/* Asegúrate de que el contenido del logo se ajuste al diseño */
.book .book-summary ul.summary li img {
  display: inline-block;
}


/* Colorea los chunks de r en los posibles formatos que puedan tomar */

.Rchunk {
  background-color: #ddeeec !important;
  font-weight: bolder;
  /* color: red !important;*/
}


/* Como formatear chunks entrada R */
.sourceCode {
  background-color: #ddeeec !important;
  font-weight: bolder;
  /* color: red !important;*/
}

/* Como formatear chunks salida R */
.Rout {
  background-color: #ddeeec !important;
  font-weight: bolder;
  /* color: blue !important;*/
}

/* Como formatear la negrita */
strong {
   color: #457e76;
   }

.book .book-summary {
  background: #ddeeec;
  border-right: none;
}


  /*COLORES INE
  
 granate: #881333 RGB:136/19/51 HSB: 344º/86/53 LAB: 34/56/23
Verde fuerte: #457e76 RGB:69/126/118 HSB:172º/45/49 LAB: 47/-33/-4
Verde claro:#ddeeec RGB: 221/238/236 HSB:173º/7/93 LAB: 92/-8/-2

-- 
  
  */



@mixin admonition($color, $bgcolor, $bordercolor, $iconurl) {
    padding: 8px;
    padding-left: 4em;
    padding-right: 2em;
    color: $color;
    border-left: 5px solid $bordercolor;
    background-color: $bgcolor;
    background-image: url($iconurl);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 1em 1.25em;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}



/*  Para las cajas de información en html*/

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid #881333 ;
  border-radius: 10px;
  background: #ddeeec 5px center/3em no-repeat;
}

.caution {
  background-image: url("fig/caution.png");
}
